p {
    margin: 0;
}

.message {
    padding: 0.5rem;
    background-color: #50C878;
    color: #fff;
    border-radius: 0.5rem;
    width: fit-content;
    max-width: 200px;
    margin-block-end: 1rem;
    font-size: 0.9em;
}
@media screen and (min-width: 576px) {
    .message {
        max-width: 320px;
        font-size: 1em;
    }
}

.message__content {
    font-size: 0.95em;
    margin-block-end: 0.15rem;
}

.message__time {
    font-size: 0.75em;
    opacity: 0.75;
    text-align: right;
}