.category-card {
    cursor: pointer;
}

.category-card__img {
    height: 200px;
    width: 100%;
    /* background-image: url("../../../assets/laptop.webp"); */
    background-position: center;
    background-size: cover;
}

.category-card__desc {
    padding: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}