@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap'); */

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body { 
    height: 100%; 
}


body { 
    margin: 0; 
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

:root {
    --text: #fff;
    --text3: #6e6e6e;
    --accent: #582eac;
    --border: #dfdfdf;
}