<footer class="footer">

    <div class="footer__row1">
        
        <div class="footer__logo">
            <img
                class="logo"
                src="../../../assets/logo.svg"
                alt="logo"
            />
            <!-- <button>
                contact us
            </button> -->
            <div class="logo-copyright copyright">
                <p>Copyright ©2023 SwapSell India Pvt Limited</p>
            </div>  
        </div>

        <nav>
            <p class="footer__title">Navigation</p>
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>Wishlist</li>
                <li>Chat</li>
                <li>Post an AD</li>
            </ul>
        </nav>

        <nav>
            <p class="footer__title">Company</p>
            <ul>
                <li>About</li>
                <li>Contact</li>
                <li>T&C</li>
                <li>FAQ</li>
            </ul>
        </nav>

        <section class="footer__social">

            <p class="footer__title">Social</p>

            <div>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
            </div>
            
        </section>
    
    </div>

    <div class="copyright footer__row2">
        <p>Copyright ©2023 SwapSell India Pvt Limited</p>
    </div>  

</footer>