h1, p {
    margin: 0;
}

.offer-dialog {
    z-index: 10;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.25);
    border-radius: 2.5px;
}

.offer-dialog__container {
    z-index: 20;
    width: 90%;
    background-color: #fff;
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}
@media screen and (min-width: 576px) {
    .offer-dialog__container {
        width: 30%;        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.offer-dialog__title {
    font-size: 1.35rem;
    font-weight: 900;
    line-height: 0.1rem;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 0.75rem;
    text-transform: uppercase;
}

.closeBtn {
    color: #f00;
    cursor: pointer;
}

.offer-dialog__subtitle {
    color: var(--text3);
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.offer-dialog__input {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border: 1px solid var(--text3);
    padding: 0.5rem;
    outline: none;
    margin-block: 1.5rem 1rem;
    border-radius: 2.5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.offer-dialog__btn {
    border: none;
    background-color: var(--accent);
    color: #fff;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2.5px;
}