.postForm {
  padding: 1rem;
}

.postForm__title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 900;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
  /* color: var(--text3); */
  margin-block-end: 2rem;
}

form {
  width: 80%;
  margin: auto;
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postForm__subtitle {
  font-size: 1rem;
  color: var(--text3);
}

.postForm__buttons {
  width: 100%;
  margin-block-start: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.postForm__buttons button {
  outline: none;
  text-transform: uppercase;
  font-size: 1rem;
  width: 150px;
  border-radius: 0.25rem;
  font-weight: 600;
  padding: 0.5rem;
  margin-block-end: 1rem;
}

.submitBtn {
  border: none;
  color: #fff;
  background-color: var(--accent);
}

.backBtn {
  background: none;
  color: var(--accent);
  border: 2px solid var(--accent);
}

.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}

.third-width {
  width: 32%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

/*  */
/*  */
/*  */
/*  */
/* 
.shipping-card {
  min-width: 10rem;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.content {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  column-gap: 8vh;
} */

.Image__input {
  margin-bottom: 1vh;
  border: 2px solid rgba(88, 46, 172, 1);
  padding: 2vh;
  border-radius: 5px;
  width: 100%;
}
.image_tag {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5vh;
  /* border: 2px solid green; */
}
.tag__image {
  height: 20vh;
  width: 20vh;
  border: 1px solid gray;
  border-radius: 5px;
}
.tag__button {
  position: relative;
  bottom: 7vh;
  right: 5vh;
  color: grey;
}
.tag__size {
  font-size: large;
}
.tag__button:hover {
  color: red;
}
.detail__category_title {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2vh;
}
.detail__conditionDiv {
  display: flex;
  column-gap: 4vh;
  flex-wrap: wrap;
}
.detail__city {
  display: flex;
  column-gap: 2vh;
  flex-wrap: wrap;
}

.form-div {
  margin: 2%;
}
